<%- include('layouts/header', { title: "Détails du Catway" }) %>

<h1>Détails du Catway</h1>

<% if (catway) { %>
<p>ID du catway: <%= catway.id %></p>
<p>Numero du catway: <%= catway.catwayNumber %></p>
<p>Description : <%= catway.catwayState %></p>
<% if (catway.reservations && catway.reservations.length > 0) { %>
    Numero de reservation = <%= catway.reservations %>
<% } %>

<% } else { %>
<p>Aucun catway trouvé.</p>
<% } %>

<p><a href="/catways">Retour à la liste des Catways</a></p>
<p><a href="/dashboard">Retour au Tableau de bord</a></p>

<%- include('layouts/footer') %>
