<%- include('layouts/header', { title: "Détails de la Réservation" }) %>

<h1>Détails de la Réservation</h1>

<% if (reservation) { %>
<p>ID de la reservation : <%= reservation.id %></p>
<p>ID du catway: <%= reservation.catway %></p>
<p>Nom du client = <%= reservation.clientName %> </p>
<p>Nom du bateau = <%= reservation.boatName %> </p>
<p>Date : <%= reservation.checkIn.toDateString() %> à <%= reservation.checkOut.toDateString()%> </p>
<% } else { %>
<p>Aucune réservation trouvée.</p>
<% } %>

<p><a href="/reservations">Retour à la liste des Réservations</a></p>
<p><a href="/dashboard">Retour au Tableau de bord</a></p>

<%- include('layouts/footer') %>
